html {
    background-color: aliceblue;
    font: .875rem Arial;
}

body {
    margin: 0;
}

button {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 6px 12px;
    &:hover {
        background-color: #99CCF5;
        cursor: pointer;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

input {
    font: .875rem Arial;
    padding: 6px;
}

select {
    font: .875rem Arial;
    padding: 8px 4px;
}

textarea {
    font: .875rem Arial;
    padding: 8px;
    resize: none;
}